extends layout 

block content 
    h1= title 
    form(method='POST', action='/new')
        p(class='inputdata')
            | username: 
            input(
                type='text'
                name='username'
            )
            |                   text:   
            input(
                type='text'
                name='usertext'
            )
        input(
            type='submit'
            value='send'
            class='send'
            id='button'
        )


